body {
  background-color: #554463;
  padding: 5px;
  margin: 5px;
}


.app-container {
  padding: 5px;
}

.app-content {
  padding-top: 25px;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-paper {
  background-color: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.App-content {
  background-color: #554463;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.App-link {
  color: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
